<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wuyuncheng.xpress.model.dao.MetaDAO">

    <update id="decrementCountById">
        UPDATE `meta`
        SET count = count - 1
        WHERE meta_id = #{metaId}
    </update>

    <update id="decrementCountByPostId">
        UPDATE `meta`
        INNER JOIN `relationship`
        ON meta.meta_id = relationship.meta_id
        SET meta.count = meta.count - 1
        WHERE relationship.post_id = #{postId}
    </update>

    <update id="incrementCountById">
        UPDATE `meta`
        SET count = count + 1
        WHERE meta_id = #{metaId}
    </update>

    <update id="incrementCountByIds">
        UPDATE `meta`
        SET count = count + 1
        <where>
            <if test="null != list and list.size() > 0">
                meta_id IN
                <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
--             条件为不成立就不能更新数据
            <if test="null == list and list.size() == 0">1=0</if>
        </where>
    </update>

    <select id="selectTagsByIds" resultType="Meta">
        SELECT * FROM `meta`
        <where>
            type = "tag"
            <if test="null != collection and collection.size() > 0">
                and meta_id IN
                <foreach collection="collection" item="item" index="index" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
--             条件为不成立就查不到数据
            <if test="null == collection or collection.size() == 0">and 1=0</if>
        </where>
    </select>

</mapper>